<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smaboy.demo.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.smaboy.demo.entity.Product">
        <result column="productId" jdbcType="INTEGER" property="productId" />
        <result column="productName" jdbcType="VARCHAR" property="productName" />
        <result column="productPrice" jdbcType="DOUBLE" property="productPrice" />
        <result column="productType" jdbcType="INTEGER" property="productType" />
        <result column="productImg" jdbcType="VARCHAR" property="productImg" />
        <result column="productDes" jdbcType="VARCHAR" property="productDes" />
    </resultMap>
    <insert id="addProduct" parameterType="com.smaboy.demo.entity.Product">
        INSERT INTO `product` (productName, productPrice, productType, productImg, productDes) VALUES(#{productName},#{productPrice},#{productType},#{productImg},#{productDes})
    </insert>

    <select id="getProductList" resultMap="BaseResultMap">
        SELECT * FROM `product`
    </select >

    <select id="getProductListByKey" resultMap="BaseResultMap">
        SELECT * FROM `product` where productName like concat('%',#{productName},'%') or productDes
        like  concat('%',#{productDes},'%')
    </select >

    <select id="getProductByCondition" resultMap="BaseResultMap">
        SELECT * FROM `product`
        <where>
            <if test="productName != null and productName != ''">
                and productName like concat('%',#{productName},'%')
            </if>
            <if test="productType != null and productType != -1">
                and productType = #{productType}
            </if>
        </where>
    </select >

    <update id="updateProduct" parameterType="com.smaboy.demo.entity.Product">
        update product
        <trim prefix="SET" suffixOverrides=",">
            <if test="null != product.productName and '' != product.productName">
                productName=#{product.productName},
            </if>
            <if test="null != product.productType and -1!= product.productType">
                productType=#{product.productType},
            </if>
            <if test="null != product.productPrice and -1!= product.productPrice">
                productPrice=#{product.productPrice},
            </if>
            <if test="null != product.productImg and '' != product.productImg">
                productImg=#{product.productImg},
            </if>
            <if test="null != product.productDes and '' != product.productDes">
                productDes=#{product.productDes},
            </if>
        </trim>
        where productId=#{product.productId}
    </update>

    <delete id="deleteProduct" parameterType="com.smaboy.demo.entity.Product">
        delete from product where productId=#{productId}
    </delete>
</mapper>